<lalrLALR -->
<link rel="stylesheet" href="./css/automata.css">

<div class="row">
  <span class="col-md-2">
    <div class="well">
      <h4>Introduction</h4>
      <hr>
      <p>
        Construct automaton and parsing table for LALR grammars.
      </p>
    </div>
  </span>
  <span class="col-md-5">
    <div class="well">
      <h4>Supported grammars</h4>
      <ul>
        <li>A -> A c | A a d | b d | ϵ <br>(All tokens must be separated by space characters)</li>
        <li>A -> A c <br>&nbsp;&nbsp;&nbsp;| A a d <br>&nbsp;&nbsp;&nbsp;| b d <br>&nbsp;&nbsp;&nbsp;| ϵ </li>
        <li>S -> A a | b<br>A -> A c | S d | ϵ</li>
        <li>(Copy ϵ to input if needed)</li>
      </ul>
    </div>
  </span>
  <span class="col-md-5">
    <div class="well">
      <h4>Examples</h4>
      <ul>
        <li>S -> S S + | S S * | a</li>
        <li>S -> 0 S 1 | 0 1</li>
        <li>S -> + S S | * S S | a</li>
        <li>S -> S ( S ) S | ϵ</li>
        <li>S -> S + S | S S | ( S ) | S * | a</li>
        <li>S -> ( L ) | a L -> L , S | S</li>
        <li>S -> a S b S | b S a S | ϵ</li>
        <li>
            bexpr -> bexpr or bterm | bterm <br>
            bterm -> bterm and bfactor | bfactor <br>
            bfactor -> not bfactor | ( bexpr ) | true | false
        </li>
      </ul>
    </div>
  </span>
</div>

<div class="row">
  <div class="form-group">
    <label for="input_grammar" class="col-md-1 control-label">Input: </label>
    <div class="col-md-11">
<textarea type="text" class="form-control" id="input_grammar" rows="10" placeholder="">
S -> C C
C -> c C | d
</textarea>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <button id="button_construct" class="btn btn-raised btn-block btn-primary">Construct</button>
  </div>
</div>
<div id="alert_error" class="alert alert-dismissible alert-danger" hidden>
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Invalid Grammar</strong>
  <p id="p_error"></p>
</div>
<div class="row">
  <div class="col-xs-12">
    <svg id="svg" width="800">
      <g></g>
    </svg>
  </div>
</div>
<div class="row">
  <div id="parsing_table" class="col-xs-12">
  </div>
</div>
<div class="row">
  <div class="form-group">
    <label for="input_url" class="col-md-1 control-label">URL: </label>
    <div class="col-md-11">
      <input type="text" class="form-control" id="input_url" readonly>
    </div>
  </div>
</div>

<script src="./lib/js/d3.v3.min.js"></script>
<script src="./lib/js/dagre-d3.min.js"></script>
<script src="./js/syntax.js"></script>
<script src="./js/automata.js"></script>
